/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Righteous&family=Roboto+Condensed:wght@700&display=swap');

:root {
  --blue: #3498db;
  --dark-blue: #2980b9;
  --red: #e74c3c;
  --dark-red: #c0392b;
  --black: #333;
  --main-color: #c0392b;
  --white: #fff;
  --light-bg: #eee;
  --body-bg: #181616;
  --box-bg: #221f1f;
  --text-color: #ffffff;


  --space-top: 30px;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.border-none {
  border: none;
}

.spad {
  margin-top: 100px;
}

a {
  text-decoration: none;
}

.box {
  min-height: 112px;
  padding: 20px;
}

.text-count {
  color: #f9f9f9;
  text-transform: capitalize;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #11101D;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
  overflow: hidden;
}

.sidebar.open {
  width: 250px;
}

.sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar .logo-details .icon {
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-left: 40px;
  opacity: 0;
  transition: all 0.5s ease;
  font-family: 'Righteous', cursive;
}

.sidebar .logo-details .logo_name span {
  color: #c0392b;
}

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
  opacity: 1;
}

.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn {
  text-align: right;
}

.sidebar i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

.sidebar ul {
  padding-left: 0px;
  overflow: auto;
  scroll-behavior: smooth;
}

.sidebar ul::-webkit-scrollbar {
  display: none;
}

.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}

.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}

.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar.open li .tooltip {
  display: none;
}

.sidebar input {
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}

.sidebar.open input {
  padding: 0 20px 0 50px;
  width: 100%;
}

.sidebar .bx-search {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #FFF;
}

.sidebar.open .bx-search:hover {
  background: #1d1b31;
  color: #FFF;
}

.sidebar .bx-search:hover {
  background: #FFF;
  color: #11101d;
}

.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101D;
}

.sidebar li a:hover {
  background: #FFF;
}

.sidebar li a .links_name {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}

.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: #11101D;
}

.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 12px;
}

.sidebar li.profile {
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}

.sidebar.open li.profile {
  width: 250px;
}

.sidebar li .profile-details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.sidebar li img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}

.sidebar li.profile .name,
.sidebar li.profile .job {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}

.sidebar li.profile .job {
  font-size: 12px;
}

.sidebar .profile #log_out {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}

.sidebar.open .profile #log_out {
  width: 50px;
  background: none;
}

.sidebar .profile .profile-details a:hover #log_out {
  color: #eee;
}

.home-section {
  position: relative;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}

.sidebar.open~.home-section {
  left: 250px;
  width: calc(100% - 250px);
}

.home-section .text {
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 700;
  margin: 18px;
  text-transform: capitalize;
}

.admin {
  min-height: 100vh;
  background-color: var(--light-bg);
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.admin .profile {
  padding: 20px;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  text-align: center;
  width: 400px;
  border-radius: 5px;
}

.admin .profile img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 5px;
}

.admin .profile h3 {
  margin: 5px 0;
  font-size: 20px;
  text-transform: uppercase;
  color: var(--black);
  font-family: 'Righteous', cursive;
}

.admin .profile p {
  margin-top: 20px;
  color: var(--black);
  font-size: 20px;
}

.admin .profile p a {
  color: var(--red);
}

.admin .profile p a:hover {
  text-decoration: underline;
}

.admin .profile .btn {
  width: 100%;
  margin-top: 10px;
  padding: 10px 20px;
}

.home-section .category-counter
{
  border: 1px solid #c0392b;
  padding: 10px;
}

.home-section .category-counter .categorys
{
  border: 1px solid #181616;
}

.home-section form {
  padding: 20px;
}

.home-section form a h4 {
  font-weight: 700;
}

.home-section form label {
  margin-bottom: 10px;
  font-weight: 700;
}

.home-section form input {
  margin-bottom: 10px;
}

.home-section form .form-select {
  max-height: 200px;
  overflow-y: auto;
}

.home-section form .updateImg {
  max-width: 433px;
  max-height: 300px;
  margin-top: 10px;
}

.home-section form .insertImg {
  display: none;
  max-width: 433px;
  max-height: 300px;
  margin-top: 10px;
}

.home-section .search-form {
  width: 500px;
  padding: 0px;
}

.home-section .search-form button.btn.btn-primary {
  height: 38px;
}

.home-section .search-form button i.bx.bx-search {
  margin-top: 6px;
}

.home-section .search {
  width: 300px;
}

.home-section .card-body .post-header {
  margin-bottom: 10px;
  width: 800px;
}

.home-section .card-body .post-header .post-text {
  text-transform: capitalize;
  font-size: 35px;
  font-weight: 700;
}

.home-section .card-body .post-header .view {
  font-size: 16px;
  font-weight: 700;
}

.home-section .card-body .post-header .user_detail_blog {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 5px;
}

.home-section .card-body .post-header .user_detail_blog .user_name_logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.home-section .card-body .post-header .user_detail_blog .user_name_logo .image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.home-section .card-body .post-header .user_detail_blog .user_name_logo .image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.home-section .card-body .post-header .user_detail_blog .user_name_logo .name_user p,
.home-section .card-body .post-header .user_detail_blog .date_time p {
  color: #97989F;
  font-size: 13px;
  font-family:  source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
  margin-bottom: 0px;
}

.home-section .card-body .postimage {
  /* border: 1px solid #11101D; */
  height: 500px;
  overflow: hidden;
  border-radius: 10px;
}

.home-section .card-body .postimage img {
  width: 100%;
  height: 100%;
  transition-duration: 1s;
  border-radius: 20px;
}

.home-section .card-body .postimage img:hover {
  transform: scale(1.2);
  border-radius: 20px;
}

.home-section .blog-contain h2 {
  color: #2980b9;
}

.home-section .blog-contain p
{
  line-height: 30px;
  font-size: 18px;
  font-weight: 500;
  font-family:  source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
}

.home-section .blog-contain .image {
  width: 500px;
  height: 300px;
  margin: 0px auto;
}

.home-section .blog-contain .image img {
  width: 100%;
  height: 100%;
}

.home-section .blog-table
{
  width: 100%;
}

.blog-head {
  width: 100%;
}

.blog-header {
  width: 11%;
  padding: 10px !important;
}

.blog-header a {
  width: 11%;
}

.blog-header-menu {
  width: 100%;
  padding: 10px;
}

@media only screen and (min-width:1280px) {
  .home-section .box {
    width: 300px;
  }
}

@media only screen and (max-width:1280px) and (min-width:992px) {
  .home-section .card-header a {
    font-size: 15px;
  }

  .home-section form.search-form {
    width: 300px;
  }
}

@media only screen and (max-width:991px) and (min-width:768px) {
  .home-section .card-header a {
    font-size: 17px;
  }

  .home-section form.search-form {
    width: 290px;
  }
}

@media only screen and (max-width:767px) and (min-width:576px) {
  .home-section .card-header a {
    width: 106px;
    font-size: 13px;
  }

  .home-section form.search-form {
    width: 228px;
  }
}

@media only screen and (max-width:575px) {
  .home-section form.search-form {
    width: 100%;
  }

  .home-section form .updateImg {
    width: 215px;
  }
}

@media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none;
  }

  .from-wrapper form .form-select {
    width: 100px;
  }

  .home-section form.search-form {
    width: 100%;
  }
}